.spacer {
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  margin-bottom: 50px;
}
.break {
  width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.lineBreak {
  margin-top: 225px;
}
