.login__link {
  font-size: 18px;
  font-weight: bold;
  color: white !important;
  text-decoration: none;
  margin-right: 10px;
}

.register__link {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
.avatar-profile-img {
  position: relative;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -7px;
  height: 50px;
  width: 50px;
  /* border-radius: 50%; */
  transform: translate(0%);
  background-color: secondary-color;
  bottom: -2rem;
  border: 1px solid white;
  #avt-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
